@page
@model ResearchVault.Pages.Admin.ControlPanelModel
@{
    ViewData["Title"] = "Control Panel";
}

<style>
    /* .form-font-view {
        font-family: Arial;
    } */
    .form-floating:focus-within {
        z-index: 2;
    }

    .preview-border {
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
    }
</style>

<script>
    window.addEventListener('DOMContentLoaded', function () {
        var formHeight = document.querySelector('#main-form').offsetHeight;
        var userListContainer = document.getElementById('userListContainer');
        userListContainer.style.maxHeight = formHeight + 'px';
    });
</script>

<div class="container mt-3">

    <h3 class="ms-3 mt-1" style="">Admin</h3>


    @* <div class="container-fluid d-md-flex justify-content-center"> *@
    <div class="row form-font-view">

        @*preview of text/source/image/video*@
        <div class="col-md-4 container-fluid d-flex flex-column shadow bg-body-tertiary preview-border ps-3 pe-3 pb-3 pt-2">
            
            <div class="d-flex">
                <h5 class="ms-3  d-flex" style="">User List</h5>
            </div> 


            <div class="container d-flex " style="flex:auto; overflow-y: auto; max-height: 500px" id="userListContainer">
                <ul class="list-group" style="border: 1px solid gray;">

                    @if (Model.lstUser == null || !Model.lstUser.Any())
                    {
                        <li class="list-group-item">No User Data</li>
                    }
                    else if (Model.lstUser != null)
                    {
                        @foreach (var u in Model.lstUser)
                        {
                            <li class="list-group-item" >
                                <form asp-page-handler="Edit" asp-route-id="@u.UserID" method="post">
                                    @u.FName, @u.LName, @u.Email;
                                    <button type="submit" class="btn btn-sm">Edit</button>
                                </form>
                                @* <a asp-route-id="@u.UserID">Edit</a> *@
                         </li>
                        }
                    }
                    else
                    {
                    <li class="list-group-item">No User Data</li>
                    }
                </ul>
            </div>

        </div>

    <form method="post" class="col-md-8" id="main-form">

        <div class="container">

            <div class="row mb-2">

                <div class="form-floating col-md-8">
                    
                    <input type="text" asp-for="rUser.FName" runat="server" class="form-control" placeholder="First Name" />
                    <label asp-for="rUser.FName" class="form-label" style="margin-left: 12px;">First Name</label>
                    <div style="display:block; height:24px;">
                        <span asp-validation-for="rUser.FName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-floating col-md-4">

                    <select asp-for="rUser.Permissions" class="form-select" placeholder="Permissions">
                        <option selected value="">Access Level</option>
                        <option value=2>Primary Admin</option>
                        <option value=1>Secondary Admin</option>
                        <option value=0>Basic User</option>
                    </select>

                    <label asp-for="rUser.Permissions" class="form-label" style="margin-left: 12px;">Permissions</label>

                    <div style="display:block; height:24px;">
                        <span asp-validation-for="rUser.Permissions" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row mb-2">

                <div class="form-floating col-md-8">

                        <input type="text" asp-for="rUser.LName" class="form-control" placeholder="Last Name" />
                        <label asp-for="rUser.LName" class="form-label" style="margin-left: 12px;">Last Name</label>

                    <div style="display:block; height:24px;">
                        <span asp-validation-for="rUser.LName" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row mb-2">

                <div class="form-floating col-md-8">

                        <input type="text" asp-for="rUser.Username" class="form-control" placeholder="Username" />
                        <label asp-for="rUser.Username" class="form-label" style="margin-left: 12px;">Username</label>

                    <div style="display:block; height:24px;">
                        <span asp-validation-for="rUser.Username" class="text-danger"></span>
                    </div>
                </div>


            </div>
            <div class="row mb-2">

                <div class="form-floating col-md-8">

                        <input type="email" asp-for="rUser.Email" class="form-control" placeholder="Email" />
                        <label asp-for="rUser.Email" class="form-label" style="margin-left: 12px;">Email</label>

                    <div style="display:block; height:24px;">
                        <span asp-validation-for="rUser.Email" class="text-danger"></span>
                    </div>
                </div>


            </div>
            <div class="row mb-2">

                <div class="form-floating col-md-8">

                        <input type="text" asp-for="rUser.Password" class="form-control" placeholder="Password" />
                        <label asp-for="rUser.Password" class="form-label" style="margin-left: 12px;">Password</label>

                    <div style="display:block; height:24px;">
                        <span asp-validation-for="rUser.Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                    @* <button class="btn btn-primary btn-rv2 mx-auto" style="width: 100px;" type="submit">Submit</button> asp-route-id="@Model.rUser.UserID" *@
                <button class="btn btn-primary btn-rv2 me-2" style="width: 100px;" type="submit" asp-page-handler="Update" asp-route-id="@Model.lstUser[0].UserID">Update</button>
                <button class="btn btn-primary btn-rv2 ms-2" style="width: 100px;" type="submit" asp-page-handler="Delete" asp-route-id="@Model.lstUser[0].UserID">Delete</button>
            </div>

                <input asp-for="rUser.UserID" type="hidden" class="form-control" />
                @* <input asp-for="" *@

        </div>

    </form>
    </div>
</div>

@if (Model.rUser != null && Model.rUser.Feedback != null)
{
        <h1>Results</h1>
        <p>@Model.rUser.Feedback</p>
}